
.navbar{
    /* border: 2px solid salmon; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: crimson;
}
.list{
    display: flex;
    gap: 30px;
    list-style: none;
}
.list li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.company{
    font-size: 40px;
}


